/* Стилизация кнопки */

.button {
    height: 48px;
    border-radius: 8px;
    position: relative;
    font-family: 'Roboto', sans-serif;;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    text-align: center;
    border: none;
    cursor: pointer;
    padding: 10px 25px;
}

.primary_button {
    background: #4263EB;;
    color: var(--white);
    margin-left: 33px;
    margin-top: 16px;
    transition: opacity 200ms ease-in-out, background 200ms ease-in-out;
}

.primary_button:hover{
    background: #2342C0;
}

.button:disabled{
    opacity: 0.5;
    pointer-events: none;
    cursor: not-allowed;
}

.secondary_button{
    background: var(--purple);
    color: var(--white);
    transition: opacity 200ms ease-in-out, background 200ms ease-in-out;
}

.secondary_button:hover{
    background: #5028C6;
}

.alternate_button {
    background: white;
    border: 1px solid var(--grey-3);
    color: var(--grey-4);
    box-sizing: border-box;
    transition: opacity 200ms ease-in-out, background 200ms ease-in-out;
}

.alternate_button:hover{
    border: 1px solid var(--black);
}