.accordion__summary::-webkit-details-marker {  /* нестандартный псевдоэлемент Google Chrome */
    display: none;
}

.accordion__item {
    margin-bottom: 8px;

    border: 1px solid var(--grey-3);
    border-radius: 8px;
    background: var(--white);
    display:block;
    overflow:hidden;
    padding: 0 1em 0 1.4em;
}

.accordion__item:last-child {
    margin-bottom: 0;
}

details[open] .accordion__x-cross{
    transform: rotate(180deg);
}

.accordion__summary {

    margin-top: 24px;
    margin-bottom: 24px;

    font-family: 'Inter', sans-serif;;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--black);

    margin-left: 32px;
    display: flex;
    justify-content: space-between;
}

.accordion__text {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    color: var(--grey-4);

    margin-left: 32px;
    margin-bottom: 32px;
}

.accordion__x-cross {
    margin-right: 32px;
}
