.page {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    margin-top: 96px;
    margin-bottom: 77px;
}

a.header__text {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 64px;
    color: #212429;
    text-decoration: none;
    margin-left: 160px;
}

.main {

    width: 100%;
    height: 100%;
    display: flex;
    background-color: #F9FAFC;
}

.wrapper {
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: start;
    margin: 68px 165px;
}

.box {
    display: flex;
    flex-direction: column-reverse;
    width: 350px;
    height: 367px;
    background: white;
    text-align: center;
    align-items: center;

    box-shadow: 0 2px 4px rgba(33, 36, 41, 0.05);
    border-radius: 12px;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    color: #212429;

    margin: 30px;

    flex: 0 0 calc(30% - 30px);
}

.box__text {
    margin-bottom: 30px;
}

.histogram {
    width: 85%;
    border: 1px solid var(--grey-3);
    box-sizing: border-box;
    border-radius: 8px;
    background-color: var(--white);
    padding: 20px;
    margin-bottom: 75px;
    display: flex;
    flex-direction: column;
}

.histogram__bars {
    display: flex;
    justify-content: stretch;
    width: 100%;
    align-items: flex-end;
    flex-direction: row;
    height: 50px;
}

.histogram__bar {
    flex: 1 0 auto;
    margin-right: 1px;
    background: #4263EB;
}

.histogram__bar:last-child {
    margin-right: 0;
}

.histogram__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 6px;
}

.histogram__title {
    margin: 0;
    font-size: 16px;
    line-height: 24px;
    color: var(--black);
    opacity: 0.8;
}

.histogram__link {
    display: block;
    color: #374FC7;
    font-size: 16px;
    line-height: 24px;
    margin-left: 20px;
    text-decoration: none;
}

.histogram__total {
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 39px;
    display: block;
    color: var(--black);
    align-self: start;

}

.footer {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 71px;
}

.footer__heading {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 38px;
    line-height: 48px;
    color: #212429;
    align-content: center;
}

.footer__text {
    width: 640px;

    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #212429;

    margin-top: 32px;
}