.checkbox {
    display: block;
}

.checkbox__input {
    display: block;
    position: absolute;
    width: 1px;
    height: 1px;
    opacity: 0;
    pointer-events: none;
    outline: none;
}

.checkbox__state {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
}

.checkbox__legend {
    font-size: 16px;
    line-height: 24px;
    color: #495057;
    margin-left: 12px;
}

.checkbox__control {
    display: flex;
    align-items: center;
    width: 52px;
    height: 28px;
    box-sizing: border-box;
    border: 1px solid #DDE2E5;
    border-radius: 16px;
    background: #FFFFFF;
}

.checkbox__check {
    width: 24px;
    height: 24px;
    margin-left: 2px;
    background: #DDE2E5;
    border-radius: 16px;
}

/*.checkbox__check-checked {
    width: 24px;
    height: 24px;
    background: #DDE2E5;
    border-radius: 16px;
}
*/

.checkbox__checked {
    display: none;
    margin: auto;
    width: 13px;
    height: 10px;
    color: white;
}

.checkbox__input:focus ~ .checkbox__state .checkbox__legend {
    text-decoration: underline;
}

.checkbox__input:disabled ~ .checkbox__state {
    cursor: not-allowed;
}

.checkbox__input:checked ~ .checkbox__state .checkbox__control {
    flex-direction: row-reverse;
    background-color: #4263EB;
}

.checkbox__input:checked ~ .checkbox__state .checkbox__check {
    background-color: #FFFFFF;
    border-color: #4263EB;
    margin-left: 0;
    margin-right: 2px;
}

.checkbox__input:checked ~ .checkbox__state .checkbox__control .checkbox__checked {
    display: block;
}

.checkbox__input:disabled ~ .checkbox__state .checkbox__check {
    background: #ACB5BD;
    opacity: 0.25;
}

.checkbox__input:disabled ~ .checkbox__state .checkbox__control {
    background: #DDE2E5;
}

.checkbox__input:disabled ~ .checkbox__state .checkbox__legend {
    color: #DDE2E5;
}