.button__primary {
    border: none;
    outline: none;
    display: inline-block;
    border-radius: 8px;
    padding: 15px 20px 14px;
    text-align: center;
    font-size: 16px;
    line-height: 19px;
    font-weight: 500;
    cursor: pointer;
    min-width: 189px;
    background: #4263EB;
    color: #FFFFFF;
    transition: opacity 200ms ease-in-out, background 200ms ease-in-out;
}

.button__primary:hover {
    background: #2342C0;
}

.information {
    position: fixed;
    display: flex;
    width: 60vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    margin: 35px 35px 34px 30vw;
    background: #C4C4C4;
}

.information__modal {
    max-width: 428px;
    padding: 40px 40px 47px 40px;
    background: var(--white);
    border-radius: 8px;
    display: none;
    flex-direction: column;
    position: absolute;
}

.information__cross {
    position: absolute;
    cursor: pointer;
    right: 15.33px;
    top: 15.33px;
    width: 15px;
    height: 15px;
    background: transparent;
}

.information__cross span:first-child {
    transform: translate(0, -50%) rotate(45deg);
    top: 50%;
}

.information__cross span:last-child {
    bottom: 50%;
    transform: translate(0, 50%) rotate(-45deg);
}

.information__heading {
    align-self: flex-start;
    color: #334D6E;
    margin-left: 40px;
    margin-bottom: 0;
}

.information__modal .information__text {
    position: relative;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--grey-4);
    width: 81.3%;
    margin-top: 14px;
    margin-left: 40px;
    margin-right: 40px;
}
