.information {
    /*position: fixed;*/
    margin-left: 156px;
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background: rgba(196, 196, 196, 1);
}

.information__modal {
    max-width: 428px;
    padding: 40px 40px 47px 40px;
    background: var(--white);
    border-radius: 8px;
    display: none;
    flex-direction: column;
    position: relative;
}

.information__cross {
    position: absolute;
    cursor: pointer;
    right: 15.33px;
    top: 15.33px;
    width: 15px;
    height: 15px;
    background: transparent;
}

.information__heading {
    align-self: flex-start;
    color: #334D6E;
    margin-left: 40px;
    margin-bottom: 0;
}

.information__text {
    position: relative;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--grey-4);
    width: 81.3%;
    margin-top: 14px;
    margin-left: 40px;
    margin-right: 40px;
}
