@import url('https://fonts.googleapis.com/css2?family=Inter&family=Roboto:ital,wght@0,500;1,500&display=swap');



body {
    padding: 0;
    margin: 0;

    background: var(--bckg-clr);
}

.box {
    width: 350px;
    height: 367px;
    border-radius: 12px;

    background: var(--white);
    margin: 30px;

    display: flex;
    justify-content: flex-start;
    flex-direction: column-reverse;
    align-items: center;

}

.box_heading {
    position: relative;
    text-align: center;
    font-family: 'Roboto', sans-serif;;
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;

    color: var(--black);
}


.histogram {
    width: 80%;
    border: 1px solid var(--grey-3);
    box-sizing: border-box;
    border-radius: 8px;
    background-color: var(--white);
    padding: 16px 24px 24px 24px;

    justify-content: center;
    align-items: center;

    margin-bottom: 6%;
}

.histogram__bars {
    display: flex;
    justify-content: stretch;
    flex-wrap: nowrap;
    width: 100%;
    align-items: flex-end;
    flex-direction: row;
    height: 50px;
}

.histogram__bar {
    flex: 1 0 auto;
    margin-right: 1px;
    background: var(--histogram-clr);
}

.histogram__bar:last-child {
    margin-right: 0;
}

.histogram__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 6px;
}

.histogram__title {
    margin: 0;
    font-size: 16px;
    line-height: 24px;
    color: var(--black);
    opacity: 0.8;
}

.histogram__link {
    display: block;
    color: var(--histogram-clr);
    font-size: 16px;
    line-height: 24px;
    margin-left: 20px;
    text-decoration: none;
}

.histogram__total {
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 39px;
    display: block;
    color: var(--black);
}