.footer {
    display: flex;
    flex-direction: column;
    background: var(--white);
    width: 100%;
    height: max-content;
    justify-content: center;
    align-items: center;
}

.footer__heading {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 38px;
    line-height: 48px;
}

.footer__text {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    width: 640px;
}