.button {
    height: 48px;
    border-radius: 8px;
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    text-align: center;
    border: none;
    cursor: pointer;
    padding: 15px 15px 14px;
}

.button_primary {
    background: #4263EB;
    color: var(--white);
}

.button_primary:hover{
    background: #2342C0;
}

.button__modal {
    height: 35px;
    padding: 0 15px 0;
}