.modal-mini {
    width: 100%;
    max-width: 200px;
    position: relative;
    border: 1px solid var(--grey-3);
    box-sizing: border-box;
    border-radius: 8px;
    background-color: var(--white);
    padding: 16px 24px 24px;
}

.modal__close {
    position: absolute;
    top: 12px;
    right: 12px;
    max-width: 15px;
    max-height: 15px;
    cursor: pointer;
}

.modal__heading {
    margin: 0;
    margin-bottom: 1rem;
}

.modal__form {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.modal__label {
    font-weight: 500;
    font-size: 0.75rem;
    line-height: 1.2;
    letter-spacing: 0.04rem;
    text-transform: uppercase;
    color: var(--grey-3);
    margin-bottom: 5px;
    display: inline-flex;
}

.modal__input {
    border-radius: 0.5rem;
    border: 1px solid var(--grey-2);
    background-color: var(--white-bg);
    box-shadow: 0 1px 1px rgba(51, 154, 240, 0.1);
    color: var(--input-text-color);
    font-size: 1.25rem;
    line-height: 1.2;
    outline: none;
}