.skeleton-wrapper {
    background: #FFFFFF;
    border: 1px solid #ACB5BD;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    margin: 10px 15px;
    height: 192px;
}

.skeleton-wrapper-inner {
    height: 100%;
    padding: 10%;
    position: relative;
}

.skeleton-wrapper-body div {
    background: linear-gradient(92.51deg, #DDE2E5 6.44%, #E2E6E8 38.47%, #F3F5F5 56.48%, #E3E7EA 77.5%, #DDE2E5 102.52%);
}

.skeleton-wrapper-body div {
    position: absolute;
    right: 16px;
    left: 24px;
    top: 24px;
}

div.skeleton-avatar {
    height: 60px;
    width: 60px;
    border-radius: 60px;
    right: auto;
}
div.skeleton-author {
    top: 32px;
    height: 20px;
    left: 104px;
    width: 172px;
}

div.skeleton-label {
    left: 104px;
    top: 60px;
    height: 20px;
    width: 257px;
}
div.skeleton-content-1,
div.skeleton-content-2 {
    left: 24px;
    right: 40px;
    height: 20px;
}
div.skeleton-content-1 {
    top: 112px;
}
div.skeleton-content-2 {
    top: 140px;
}