.skeleton__wrapper {
    background: var(--white);
    border: 1px solid var(--grey-3);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    width: fit-content;
    padding: 32px 0;
}

.skeleton__wrapper-body {
    height: 100%;
    position: relative;
    padding-left: 24px;
    display: flex;
    flex-direction: column;
}

.skeleton__header {
    display: flex;
    margin-bottom: 16px;
}

.skeleton__avatar {
    height: 64px;
    width: 64px;
    border-radius: 50%;
    background: linear-gradient(92.51deg, var(--grey-2) 6.44%, #E2E6E8 38.47%, #F3F5F5 56.48%, #E3E7EA 77.5%, var(--grey-2) 102.52%);
}

.skeleton__info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.skeleton__text {
    height: 20px;
    background: linear-gradient(92.51deg, var(--grey-2) 6.44%, #E2E6E8 38.47%, #F3F5F5 56.48%, #E3E7EA 77.5%, var(--grey-2) 102.52%);
}

.skeleton__text-short {
    margin-left: 16px;
    width: 172px;
}

.skeleton__text-medium {
    margin-left: 16px;
    width: 257px;
}

.skeleton__text-large {
    margin-top: 8px;
    width: 515px;
    margin-right: 40px;
}