.skeleton__wrapper {
    background: var(--white);
    border: 1px solid var(--grey-3);
    border-radius: 8px;
    -webkit-border-radius: 8px;
    margin: 10px 15px;
    height: 192px;
}

.skeleton__wrapper-inner {
    height: 100%;
    padding: 10%;
    position: relative;
}

.skeleton__wrapper-body div {
    background: linear-gradient(92.51deg, var(--grey-2) 6.44%, #E2E6E8 38.47%, #F3F5F5 56.48%, #E3E7EA 77.5%, var(--grey-2) 102.52%);
}

.skeleton__wrapper-body div {
    position: absolute;
    right: 16px;
    left: 24px;
    top: 24px;
}

div.skeleton__avatar {
    height: 60px;
    width: 60px;
    border-radius: 60px;
    right: auto;
}
div.skeleton__author {
    top: 32px;
    height: 20px;
    left: 104px;
    width: 172px;
}

div.skeleton__label {
    left: 104px;
    top: 60px;
    height: 20px;
    width: 257px;
}
div.skeleton__content-1,
div.skeleton__content-2 {
    left: 24px;
    right: 40px;
    height: 20px;
}
div.skeleton__content-1 {
    top: 112px;
}
div.skeleton__content-2 {
    top: 140px;
}