@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

.container_circle {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 150px;

}

.figure_tail {
    width: 9px;
    height: 9px;
    background: #4263EB;
    transform: rotate(45deg);
    margin-top: -5px;
    margin-bottom: 3px;
}

.figure_helper {
    width: 129px;
    background: #4263EB;
    border-radius: 10px;
    text-align: center;
    padding: 8px;

    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #DDE2E5;
}

.helper_block {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.figure_circle {
    border: 2px #212429;
    border-radius: 50%;
    width: 22px;
    height: 22px;
    margin-left: 5.5px;
    margin-top: 47px;
}

.helper_block:after {
    display: none;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    content: '';
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-top: 5px solid #4263eb;
}

.container_circle:hover div.helper_block {
    display: flex;
}

.container_circle:hover i.figure_circle {
    margin-top: 0px;
}