.page {
    background: #F9FAFC;
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.page__header {
    height: 82px;
    background: #F9FAFC;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page__logo {
    margin-left: 8px;
    align-items: center;
}

.page__icon {
    height: 100%;
}

.page__main {
    background: #F9FAFC;
    display: grid;
    grid-template-columns: 20% 1fr;
}

.page__menu {
    white-space: nowrap;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu__heading {
    width: 100%;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    /* identical to box height, or 130% */

    color: #000000;
}

.menu__elements {
    list-style: none;
    margin: 0;
    padding: 0;

    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #212429;
}

.menu__element {
    color: #212429;
    text-decoration: none;
}

.menu__element_selected {
    color: #D84910;
}

.menu__element-last {
    padding-top: 2rem;
}

.page__component {
    background: #FFFFFF;
    box-shadow: 0 2px 4px rgba(33, 36, 41, 0.05);
    border-radius: 12px;
    height: 100%;
}

.component__wrapper {
    padding: 32px;
}

.component__heading {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 38px;
    color: #495057;
}

.component__histogram {
    max-width: 30%;
    border: 1px solid gray;
    box-sizing: border-box;
    border-radius: 8px;
    background-color: var(--white);
    padding: 20px;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
}

.histogram__bars {
    margin-top: 2rem;
    display: flex;
    justify-content: stretch;
    width: 100%;
    align-items: flex-end;
    flex-direction: row;
    height: 50px;
}

.histogram__bar {
    flex: 1 0 auto;
    margin-right: 1px;
    background: #4263EB;
}

.histogram__bar:last-child {
    margin-right: 0;
}

.histogram__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 6px;
}

.histogram__title {
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--black);
    opacity: 0.8;
}

.histogram__link {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    text-align: right;
    color: #4263EB;
    text-decoration: none;
}

.histogram__total {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;

    color: var(--black);
}

.page__footer {
    text-transform: uppercase;
    min-height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 0.04em;
    color: #ACB5BD;
    font-size: 12px;
    line-height: 18px;
    background: #F9FAFC;
}

@media screen and (max-width: 800px) {

    .page__main {
        display: block;
    }

    .page__menu {
        display: none;
    }

    .page__component {

    }

    .component__histogram {
        max-width: 100%;
    }
}