

.container-wrapper {
    display: grid;
    position: relative;
}

.calendar {
    justify-self: center;
    text-align: center;
    padding: 4px;
    background: var(--white);
    border: 1px solid var(--grey-3);
    border-radius: 8px;
    width: auto;
}

.month {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #334D6E;;
    margin: 4px;
    padding: 24px;
}

.wk__days {
    display: grid;
    grid-template-columns: 36px 36px 36px 36px 36px 36px 36px;
    grid-template-rows: 36px;
    margin: 0px 30px;
}

.wk__day {
    grid-column: auto;
    grid-row: auto;
    font-family: 'Inter', sans-serif;;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #90A0B7;;

    display: flex;
    align-items: center;
    justify-content: center;
}

.days {
    display: grid;
    grid-template-columns: 36px 36px 36px 36px 36px 36px 36px;
    grid-template-rows: 36px 36px 36px 36px 36px;

    margin-bottom: 32px;
    justify-content: center;

}

.days__day {
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #334D6E;

    display: flex;
    align-items: center;
    justify-content: center;
}

.days__day_b-sel {
    background: #4263EB;
    color: #FFFFFF;
}

.days__day_s-sel {
    background: #A0B1F5;

}