.calendar {
    justify-self: center;
    text-align: center;
    padding: 28px;
    background: var(--white);
    border: 1px solid var(--grey-3);
    border-radius: 8px;
    max-width: fit-content;
}

.calendar__month {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #334D6E;
}

.calendar__days {
    display: grid;
    grid-template-columns: repeat(7, 36px);
    grid-template-rows: 36px;
    margin: 0 30px;
    justify-content: center;
}

.calendar__day {
    grid-column: auto;
    grid-row: auto;
    font-family: 'Inter', sans-serif;;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #90A0B7;;

    display: flex;
    align-items: center;
    justify-content: center;
}

.calendar__dates {
    display: grid;
    grid-template-columns: repeat(7, 36px);
    grid-template-rows: repeat(5, 36px);

    margin-bottom: 32px;
    justify-content: center;

}

.calendar__date {
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #334D6E;

    display: flex;
    align-items: center;
    justify-content: center;
}

.calendar__date_b-sel {
    background: #4263EB;
    color: #FFFFFF;
}

.calendar__date_s-sel {
    background: #A0B1F5;
}