.calendar {
  padding: 26px 28px 32px;
  border: 1px solid var(--grey-3);
  border-radius: 8px;
  width: 100%;
  max-width: 300px;

  &__title {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #334D6E;
    text-align: center;
    margin-bottom: 20px;
  }

  &__wrapper {
    padding-bottom: 100%;
    position: relative;
  }

  &__inner {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
  }

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    line-height: 20px;
    color: #334D6E;

    &_day {
      color: #90A0B7;
    }

    &_active {
      background: #4263EB;
      color: white;
    }

    &_middle {
      background: #a0b1f5b3;
      color: white;
    }
  }
}
